.t-trabalho {
    &__form {
        margin-bottom: 5rem;

        h3, h3 + p {
            max-width: 66.4rem;
            width: 100%;
        }

        p {
            width: 100%;
        }

        label {
            display: flex;
            align-items: flex-start;
            gap: 1rem;

            &.error {
                border: .1rem solid $secondary !important;
            }
        }

        .g-recaptcha {
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &--error {
                & > div {
                    border: .1rem solid $secondary;
                }
            }
        }

        .nice-select {
            padding: 0.25rem 1.4rem !important;

            display: flex;
            align-items: center;

            width: 100%;
            height: 100%;

            border-radius: 4.4rem;
            border: .1rem solid $white;
            background-color: transparent;

            outline: none;
            appearance: none;

            padding: 1.3rem 1.4rem;
            color: $white;
            font-size: 1.5rem;
            font-family: inherit;

            position: relative;
            max-width: 26rem;
            width: 100%;

            &.error {
                border: .1rem solid $secondary !important;
            }

            @include max (1225) {
                max-width: calc(33.33% - 1.6rem);
            }

            @include max (768) {
                max-width: calc(50% - 1.6rem);
            }

            @include max (600) {
                max-width: 100%;
            }
        }

        input {
            &:not([type="checkbox"]):not([type="submit"]) {
                display: flex;
                align-items: center;
    
                width: 100%;
    
                border-radius: 4.4rem;
                border: .1rem solid $white;
                background-color: transparent;
    
                outline: none;
                appearance: none;
    
                padding: 1.3rem 1.4rem;
                color: $white;
                font-size: 1.5rem;
                font-family: inherit;
    
                position: relative;
                max-width: 26rem;
                width: 100%;
    
                @include max (1225) {
                    max-width: calc(33.33% - 1.6rem);
                }
    
                @include max (768) {
                    max-width: calc(50% - 1.6rem);
                }
    
                @include max (600) {
                    max-width: 100%;
                }
    
                &[name="email"] {
                    max-width: calc(26rem * 2 + 1.6rem);
                    width: 100%;
    
                    @include max (1225) {
                        max-width: calc(100% - 1.6rem);
                    }
    
                    @include max (600) {
                        max-width: 100%;
                    }
                }
        
                &[name="acceptance"] {
                    max-width: 100%;
                }
            }

            &.error {
                border: .1rem solid $secondary !important;
            }
        }

        textarea {
            display: none;
        }
    }

    &__calculo {
        display: flex;
        flex-direction: column;
        gap: 2rem 1.6rem;
        margin: 5rem 0;
    }

    &__info, &__empresas {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 2rem 1.6rem;
    }
    
    &__empresa {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;

        &:first-of-type {
            .t-trabalho__remover {
                opacity: 0;
                visibility: hidden;
            }
        }

        input, .nice-select {
            flex: 1;
            min-width: 25rem;
        }

        & > span {
            @include btn;
            background: $bg-gradient;
            filter: drop-shadow(.8rem .4rem 1.6rem rgba($color: $yellow, $alpha: 0.1));
            cursor: pointer;

            padding: 1rem;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            align-self: center;
            line-height: 3rem;

            margin: 0;
        }
    }

    &__adicionar, &__enviar {
        @include btn;
        background: $bg-gradient;
        filter: drop-shadow(.8rem .4rem 1.6rem rgba($color: $yellow, $alpha: 0.1));
        outline: none;
        border: none;
        appearance: none;
        cursor: pointer;
        color: $white;
        margin: .4rem auto 0;
        font-family: inherit;
    }

    &__enviar {
        margin-top: 5rem;
    }

    &__modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        height: 100%;

        padding: 5rem;

        @include min (900) {
            max-width: 70rem;
            height: auto;
        }

        z-index: 99999;
        background: linear-gradient(90deg, #EB001B, #85000F);
        border-radius: 1rem;
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        &--active {
            opacity: 1;
            visibility: visible;
        }
    
        h5 {
            font-size: 2.5rem;
            text-transform: uppercase;
            font-weight: 500;
        }
    
        span {
            font-size: 2.5rem;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
    
    &__close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        appearance: none;
        border: none;
        outline: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 5rem;
        background-color: transparent;
    
        &::after, &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: .1rem;
            background-color: #fff;
        }
    
        &::before {
            rotate: -45deg;
        }
    
        &::after {
            rotate: 45deg;
        }
    }
}