@font-face {
    font-family: 'airbnbcereal';
    src: url('../fonts/AirbnbCerealWLt.woff2') format('woff2'),
        url('../fonts/AirbnbCerealWLt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'airbnbcereal';
    src: url('../fonts/AirbnbCerealWBk.woff2') format('woff2'),
        url('../fonts/AirbnbCerealWBk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'airbnbcereal';
    src: url('../fonts/AirbnbCerealWMd.woff2') format('woff2'),
        url('../fonts/AirbnbCerealWMd.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'airbnbcereal';
    src: url('../fonts/AirbnbCerealWBd.woff2') format('woff2'),
        url('../fonts/AirbnbCerealWBd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'airbnbcereal';
    src: url('../fonts/AirbnbCerealWXBd.woff2') format('woff2'),
        url('../fonts/AirbnbCerealWXBd.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'airbnbcereal';
    src: url('../fonts/AirbnbCerealWBlk.woff2') format('woff2'),
        url('../fonts/AirbnbCerealWBlk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}